body {
    font-family: "Dank Mono", ui-monospace, monospace;
    height: 100vh;
    width: 100%;
}

header {
    height: 10%;
    position: sticky;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header > h1 {
    text-align: center;
    font-size: 8vmin;
    background: linear-gradient(
    to right, 
    rgb(124, 77, 39), 
    rgba(170, 168, 166, 0.973)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

header > button {
    margin-top: 10px;
    font-size: 1rem;
}

main {
    background-color: rgb(219, 219, 217);
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
    justify-content: space-around;
    gap: 200px;
    min-height: calc(100vh - 13%);
}

.book {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.book > img {
    width: 175px;
    height: 250px;
    border-radius: 1em;
}

.book > .title, .author ,.pages {
    font-size: 1.5rem;
    margin-top: 5px;
    max-width: 250px;
    text-align: center;
}

.book > .author {
    color: #2e2e2e;
}

.book > .finished, .book > .unfinished {
    margin-top: 20px;
}

.book > .finished::before {
    background-color: rgb(154, 214, 194);
    content: "Finished";
    padding: 10px;
    border-radius: 1em;
    font-size: 1.2rem;
}

.book > .unfinished::before {
    background-color: rgb(214, 161, 154);
    content: "Unfinished";
    padding: 10px;
    border-radius: 1em;
    font-size: 1.2rem;
}

.book > .removeBtn {
    margin-top: 20px;
    font-size: 0.7rem;
    background-color: #15172b;
}

.book > .removeBtn:hover {
    color: #15172b;
    background-color: white;
}

button, input[type="button"] {
    border: none;
    border-radius: 1em;
    background-color: #646464;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
}

button:hover, input[type="button"]:hover {
    background-color: #2e2e2e;
}

.formDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#form {
    background-color: #15172b;
    border-radius: 1em;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;  
}

.hidden {
    display: none;
}

#form > input {
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
}

#form > label {
    color: white;
}

input[type='checkbox'] {
    margin: 20px 0;
}

input[type="button"] {
    margin-top: 50px;
}

label#error {
    color: red;
}

footer {
    width: 300px;
    padding: 10px;
    text-align: center;
    width: calc(100% - 20px);
}

footer > a {
    color:rgb(32, 31, 31);
    text-decoration: none;
}
